@media screen and  ( max-width:1200px ){

}

@media screen and  ( max-width:991px ){
    .header {
        justify-content: space-around;
    }
    .promo {
        &__wrapper {
            margin-right: 90px;
        }
    }  
    .title {
        &_left {
            font-size: 28px;
            margin-left: 35px;
        }
    } 
    .consultation {
        padding: 70px 0px 62px 0px;
        &__descr {
            margin-top: 65px;
            margin-left: 35px;
        }
    }  
    .feed-form {
       margin-left: 35px;
    }

    .carousel {
        &__inner {
            width: 500px;
            img {
                width: 500px;
            }
        }
    }
    
    .catalog {
        &__content {
            justify-content: space-evenly;
        }
    }   
    .feed {
        &__item {
            margin-left: 20px;
        }
    }  
    
    .modal {
        padding: 16px 0px 6px 5px;
    }
}

@media screen and  ( max-width:768px ) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        background: url(../img/bg/bg_mobile.jpg) center (center/cover) no-repeat;
        &__wrapper {
            margin: 70px 75px 0px 0px;
        }
        &__header {
            text-align: end;
        }
        &__subheader {
            text-align: end;
        }
    }
    .advantages {
        &__wrapper {
            flex-direction: column;
            align-items:center;
            margin-top: 50px;
        }
        &__item {
            max-width: 300px;
        }
        &__subtitle {
            margin-top: 20px;
        }
        &__descr {
            margin: 7px 0px 30px 0px;
        }                   
    }
    
    .carousel {
        .slick-prev, .slick-next {
            display:none ;
        }
        .slick-dots {
            display: flex;
            justify-content: center;
            list-style: none;
        }
        .slick-dots button {
            padding-top: 15px;
            font-size: 0;
            background-color: #eac8be;
            border-radius: 50%;
            border: none;
            width: 15px;
            height: 15px;
            margin: 8px;
            outline: none;
        }
        .slick-dots li[class="slick-active"] button {
            background: $main-color;
        }
    }

    .catalog {
        &__tab {
            width: 155px;
            height: 40px;
            font-size: 15px;
            line-height: 37px;
        }
    }
    .feed {
        &__item {
            align-items: flex-start;
        }
        &__img {
            width: 120px;
            height: 120px;
        }
    }
    
}

@media screen and  ( max-width:575px ){
    .header {
        flex-direction: column;
        &__official {
           display: block; 
           margin-top: 20px;
        }
        &__contacts {
           margin-top: 20px;
        }
    }  
    .promo {
        &__wrapper {
            margin: 45px 0px 0px 0px;
            display: block;
            text-align: center;
        }
        &__header {
            text-align: center;
            font-size: 38px;
            font-weight: 600;
        }
        &__subheader {
           text-align: center;
        }
        &__icons {
            width: 320px;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
        &__icon {
            margin-top: 30px;
            img {
                margin-bottom: 8px;
            }
        }
    } 
    .consultation {
        padding-top: 50px;
        &__descr {
            margin-top: 65px;
            margin-left: 10px;
        }
    }  
    .feed-form {
       margin-left: 10px;
    } 
    .title {
        &_left {
            font-size: 20px;
            margin-left: 10px;
        }
    }  
    
    .carousel {
        padding: 50px 0;
        &__inner {
            width: 310px;
            img {
                width: 310px;
            }
        }
    }
    .catalog {
        h2 {
            font-size: 21px;
        }
        &__tabs {
            margin-top: 40px;
            flex-direction: column;
        }
        &__tab {
            margin: 0 auto;
            margin-top: 15px;
            width: 220px;
            height: 50px;
            font-size: 18px;
            line-height: 48px;
        }
    }
    .feed {
        &__item {
            flex-direction: column;
            align-items: center;

        }
        &__text {
            margin: 20px 0 0 0;
        }
        &__subtitle{
            text-align: center;
        }
        &__count {
            text-align: center;
        }
    }

    .footer {
        &__info {
            width: 100%;
            padding: 20px 10px;
        }
    }

    .modal {
        padding-top: 35px;
        width: 320px;
        &__close {
            top: 12px;
            right: 0px;
            font-size: 55px;
        }
    }
}